<div class="about-me display-flex box-shadow">
    <div class="header roboto">
        About me
        <img src="https://assets.website-files.com/6369473e4802a71c2ac95742/636bf0c0519296113e4b21eb_hand-icon.svg"
            alt="hand">
    </div>
    <div class="sub-text roboto-thin">
        I am a full-stack developer based in Hyderabad, India. I have over +1 year of experience and have worked with companies like IIIT-H IHUB data, Carotred, Innovative Software Solutions, and Freelancer IT Services. I graduated with a Bachelor's degree in Computer Science Engineering from Jawaharlal Nehru University, Hyderabad (2023 batch), achieving a 9.00 CGPA and establishing a robust grounding in Software Engineering.
        <br><br>
        Throughout my work experience, I consistently specialized in a single domain, providing me with ample expertise to address various software challenges. I possess advanced proficiency in technologies such as Angular, JavaScript, Node.js, DotNet (C#), Flutter, Java, TypeScript, Material UI, Bootstrap, HTML, and CSS. I am enthusiastic about creating cutting-edge, pixel-perfect, and innovative software projects.
        <br><br>
        I have achieved success in numerous hackathons and contributed as a mentor and volunteer in communities such as Modie Fest, National Level VJ Hackathon (VNRVJIET), and DataCode. Alongside my academic excellence, reflected in a CGPA of 9.00, I received recognition for the best academic project of 2023.
    </div>
</div>