<div class="collapse" id="navbarToggleExternalContent">
    <div class="NavigationBtns p-3 roboto-medium">
        <a class="mx-5 box-shade" href="#about">
            About
        </a>
        <a class="mx-5 box-shade" href="#skills">
            Skills
        </a>
        <a class="mx-5 box-shade" href="#experience">
            Experience
        </a>
        <a class="mx-5 box-shade" href="#projects">
            Projects
        </a>
        <a class="mx-5 box-shade" href="#contacts">
            Contact
        </a>
    </div>
</div>

  color: #555555;
<div class="nav d-flex justify-content-between pt-2 pt-md-5 px-sm-5 px-3 " style="color: #555555;">
    <div class="name fs-2 roboto-medium">
        chintala_sanjay
    </div>
    <div class="menu">
        <div class=" box-shade ">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                aria-expanded="false" aria-label="Toggle navigation">

                <i class="bi bi-list fs-4"></i>
            </button>
        </div>
    </div>
</div>
<app-picture></app-picture>
<app-about id="about"></app-about>
<app-skills id="skills"></app-skills>
<app-experience id="experience"></app-experience>
<app-projects id="projects"></app-projects>
<app-extra-curricular></app-extra-curricular>
<app-contacts id="contacts"></app-contacts>

<div class="copyrights d-flex row justify-content-between box-shade">
    <div class="left col-5 roboto-light">
        © Chintala_sanjay
    </div>
    <div class="right col roboto-light">
        Created by Chintala Sanjay
    </div>
</div>