<div class="skills">
    <div class="header roboto-medium">
        Skills
    </div>
    <div class="row">
        <div class="col">
            
        </div>
    </div>
    <div class="skills-list row">
        <div class="skill col">
            <img src="./assets/images/c.png" alt="">
            <div class="skill-text">
                c
            </div>
        </div>
        <div class="skill col">
            <img src="./assets/images/cpp.png" alt="">
            <div class="skill-text">
                c++
            </div>
        </div>
        <div class="skill col">
            <img src="./assets/images/html.png" alt="">
            <div class="skill-text">
                HTML
            </div>
        </div>
        <div class="skill col">
            <img src="./assets/images/css.png" alt="">
            <div class="skill-text">
                CSS
            </div>
        </div>
        <div class="skill col">
            <img src="./assets/images/sass.png" alt="">
            <div class="skill-text">
                SASS
            </div>
        </div>
        <div class="skill col">
            <img src="./assets/images/bootstrap.png" alt="">
            <div class="skill-text">
                Bootstrap
            </div>
        </div>
        <div class="skill col">
            <img src="./assets/images/javaScript.png" alt="">
            <div class="skill-text">
                Java Script
            </div>
        </div>
        <div class="skill col">
            <img src="./assets/images/typeScript.png" alt="">
            <div class="skill-text">
                Type Script
            </div>
        </div>
        <div class="skill col">
            <img src="./assets/images/angular.png" alt="">
            <div class="skill-text">
                Angular
            </div>
        </div>

    </div>
    <div class="skills-list mt-5 row">
        <div class="skill col">
            <img src="./assets/images/react.png" alt="">
            <div class="skill-text">
                React
            </div>
        </div>
        <div class="skill col">
            <img src="./assets/images/cs.png" alt="">
            <div class="skill-text">
                C#
            </div>
        </div>
        <div class="skill col">
            <img src="./assets/images/node.png" alt="">
            <div class="skill-text">
                Node
            </div>
        </div>
        <div class="skill col">
            <img src="./assets/images/mongoDB.png" alt="">
            <div class="skill-text">
                MongoDB
            </div>
        </div>
        <div class="skill col">
            <img src="./assets/images/jasper.jpg" alt="">
            <div class="skill-text">
                Jasper Reports
            </div>
        </div>
        <div class="skill col">
            <img src="./assets/images/git.png" alt="">
            <div class="skill-text">
                Git
            </div>
        </div>
        <div class="skill col">
            <img src="./assets/images/gitHub.png" alt="">
            <div class="skill-text">
                GitHub
            </div>
        </div>
        <div class="skill col">
            <img src="./assets/images/vsCode.png" alt="">
            <div class="skill-text">
                VSCode
            </div>
        </div>
    </div>
</div>