.app-main {
  padding: 2.2rem 0 3rem;
}

.container {
  max-width: 920px;
  margin: 0 auto;
  padding: 0 1rem;
}

@media screen and (max-width: 720px) {
  .app-main {
    padding-top: 1.4rem;
  }

  .container {
    max-width: 100%;
  }
}

