<div class="Activities ">
    <div class="header roboto">
        Extra-curricular
    </div>
    <div class="Activities-items row">
        <div class="Activities-item  col-sm-12 col-md-3 col-lg-3 box-shade card" style="background-color: transparent;">
            <div class="card-body  roboto-light">
                Secured runner-
                up position in the
                Code To Win '22
                hackathon
                organized by
                MLRIT.
            </div>
        </div>
        <div class="Activities-item  col-sm-12 col-md-3 col-lg-3 box-shade card" style="background-color: transparent;">
            <div class="card-body  roboto-light">
                Mentored in
                National Level VJ Hackathon (VNRVJIET) for a team
                and was
                selected as a
                Finalist.
            </div>
        </div>
        <div class="Activities-item  col-sm-12 col-md-3 col-lg-3 box-shade card" style="background-color: transparent;">
            <div class="card-body  roboto-light">
                Winner of the the
                ModiFest '23 coding
                hackathon
                organized by
                MLRIT.
            </div>
        </div>
        <div class="Activities-item  col-sm-12 col-md-3 col-lg-3 box-shade card" style="background-color: transparent;">
            <div class="card-body  roboto-light">
                Contributed as a
                Student
                Volunteer in
                communities like
                Code.org, and
                DataCode.
            </div>
        </div>
    </div>
</div>