<div class="contact box-shadow">
    <div class="header roboto">
        Want to create something awesome? <br>
        or just say hi?
    </div>
    <div class="row d-flex justify-content-center contact-list mt-5">
        <div class="social  col-sm-3 col-md-1 col-lg-1">
            <a href="https://www.linkedin.com/in/chintala-sanjay/" style="text-decoration: none; color: #555555;">
                <div class=" box-shade ">
                    <i class="fs-3 bi bi-linkedin"></i>
                </div>
            </a>
        </div>
        <div class="social  col-sm-3 col-md-1 col-lg-1">
            <a href="mailto:chsanjay920@gmail.com" style="text-decoration: none; color: #555555;">
            <div class=" box-shade ">
                <i class="fs-3 bi bi-envelope"></i>
            </div>
            </a>
        </div>
        <div class="social  col-sm-3 col-md-1 col-lg-1">
            <a href="https://github.com/chsanjay920" style="text-decoration: none; color: #555555;">
            <div class=" box-shade ">
                <i class="fs-3 bi bi-github"></i>
            </div>
            </a>
        </div>
        <div class="social  col-sm-3 col-md-1 col-lg-1">
            <div class=" box-shade ">
                <i class="fs-3 bi bi-medium"></i>
            </div>
        </div>
        <div class="social  col-sm-3 col-md-1 col-lg-1">
            <div class=" box-shade ">
                <i class="fs-3 bi bi-instagram"></i>
            </div>
        </div>
        <div class="social  col-sm-3 col-md-1 col-lg-1">
            <div class=" box-shade ">
                <i class="fs-3 bi bi-twitter-x"></i>
            </div>
        </div>
    </div>
</div>