<div class="Experience mt-5">
    <div class="header roboto">
        Experience
    </div>
    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner d-flex justify-content-center">
            <div class="carousel-item project-item active box-shadow card " style="background-color: transparent; ">
                <div class="card-body ">
                    <div class="row">
                        <div class="project-image col-sm-12 col-md-3 col-lg-3">
                            <img src="./assets/images/projects/iiit.png">
                        </div>
                        <div class="project-description  col-sm-12 col-md-9 col-lg-9">
                            <div class="project-header roboto-medium">
                                IIIT-H IHub Data
                            </div>
                            <div class="project-subtext roboto-light">
                                <ul>
                                    <li>
                                        Developed a user-friendly web app (React, Express, Node.js, MongoDB) for
                                        IIIT-H's data hub, enabling intuitive data storing and visualization.
                                    </li>
                                    <li>Collaborated with the research team to design and implement interactive
                                        dashboards and reports, enhancing data accessibility for IIIT-H Researchers.
                                    </li>

                                </ul>
                            </div>
                            <div class="d-flex justify-content-end">
                                <div class="project-button box-shade me-5">
                                    <i class="bi bi-arrow-right-short"></i>
                                    <a href="https://github.com/chsanjay920/ihub-internship"
                                        style="text-decoration: none; color: #555555;">
                                        View Project
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item project-item  box-shadow card " style="background-color: transparent; ">
                <div class="card-body ">
                    <div class="row">
                        <div class="project-image col-sm-12 col-md-3 col-lg-3">
                            <img src="./assets/images/projects/bhel.png">
                        </div>
                        <div class="project-description  col-sm-12 col-md-9 col-lg-9">
                            <div class="project-header roboto-medium">
                                BHEL-G
                            </div>
                            <div class="project-subtext roboto-light">
                                <ul>
                                    <li>
                                        During my internship at Innovative Software Solutions, I designed and
                                        implemented an Angular and dotnet core Web API app for online/offline document
                                        and report generation, providing users with enhanced flexibility and
                                        accessibility.
                                    </li>
                                    <li>
                                        Developed a web-based project for BHEL-GE Corporation, utilizing Angular,
                                        ASP.NET Web APIs, and SQL Server database to implement multiple fillable forms
                                        with editable PDFs.
                                    </li>
                                    <li>
                                        Ensured seamless functionality in both online and offline modes, enhancing
                                        usability, and created a responsive, user-friendly interface.
                                    </li>
                                </ul>
                            </div>
                            <div class="d-flex justify-content-end">
                                <div class="project-button box-shade me-5">
                                    <i class="bi bi-arrow-right-short"></i>
                                    <a href="https://github.com/chsanjay920/BHEL-DSR-Project"
                                        style="text-decoration: none; color: #555555;">
                                        View Project
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item project-item  box-shadow card " style="background-color: transparent; ">
                <div class="card-body ">
                    <div class="row">
                        <div class="project-image col-sm-12 col-md-3 col-lg-3">
                            <img src="./assets/images/projects/traffic.jpg" style="border-radius: 1rem;">
                        </div>
                        <div class="project-description  col-sm-12 col-md-9 col-lg-9">
                            <div class="project-header roboto-medium">
                                Smart Traffic Project
                            </div>
                            <div class="project-subtext roboto-light">
                                <ul>
                                    <li>
                                        Automated Traffic Signal Control System using Angular, COCO SSD, and
                                        TensorFlow.js to monitor real-time traffic density.
                                    </li>
                                    <li>
                                        Implemented the COCO SSD model in TensorFlow.js for vehicle detection and
                                        counting.
                                    </li>
                                    <li>
                                        Utilized the detected vehicle count to dynamically adjust traffic signal lights,
                                        enhancing traffic flow and reducing congestion by adapting signal timings based
                                        on traffic density.
                                    </li>
                                </ul>
                            </div>
                            <div class="d-flex justify-content-end">
                                <div class="project-button box-shade me-5">
                                    <i class="bi bi-arrow-right-short"></i>
                                    <a href="https://github.com/chsanjay920/traffic-density-detection"
                                        style="text-decoration: none; color: #555555;">
                                        View Project
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>